@keyframes appear-left {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
  }
}

@keyframes appear-right {
  from {
    opacity: 0;
    transform: translateX(30%);
    overflow-x: hidden;
  }
  to {
    opacity: 1;
    overflow-x: hidden;
  }
}

.appear {
  overflow-x: hidden;
  &_left {
    &-animade {
      animation: appear-left ease 3s;
      opacity: 100%;
    }
  }
  &_right {
    &-animade {
      animation: appear-right ease 3s;
      opacity: 100%;
    }
  }
  &--hidden {
    opacity: 0;
    position: absolute;
  }
}