.callToAction {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $darkBlue;
  color: #ffffff;
  overflow: hidden;
  min-height: calc(32rem - #{$headerHeight});
  background-image: url("/img/circulo-lineas-abajo.png"),
    url("/img/circulo-lineas-arriba.png"),
    url("/img/linea-larga.png"),
    url("/img/circulo-fondo.png");
  background-repeat: no-repeat;
  background-position: bottom left, top right, 95% 100%, 6% 50%;
  background-size: 8rem, 10rem, 7rem, 5rem;
  &__title {
    & h2 {
      font-family: $montserrat;
      text-align: center;
      font-size: 1.8rem;
      margin: 0 auto;
      max-width: 80%;
    }
  }
  &__links {
    display: flex;
    justify-content: space-around;
  }
  &__link {
    text-decoration: none;
    padding: 1rem;
    color: #ffffff;
    font-family: $gilroyBold;
    min-width: 35%;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &--blue {
      background-color: $blue;
      &:hover {
        background-color: $blueHover;
      }
    }
    &--violet {
      background-color: $violet;
      &:hover {
        background-color: $violetHover;
      }
    }
  }
  @media screen and (max-width: $breakpoint-laptop){

  }
  @media screen and (max-width: $breakpoint-tablet){
    padding: 3rem 0;
    &__link {
        font-size: 1.2rem;
        min-width: 68%;
    }
    &__links {
        flex-direction: column;
        align-items: center;
      }
  }
  @media screen and (max-width: $breakpoint-mobile){
    
  }
}