.schedule-meeting {
  position: relative;
  font-family: $gilroyBold;
  background-color: $darkBlue;
  color: #ffffff;
  min-height: 50vh;
  height: 100%;
  // Fondo imágenes
  background-image: url("/img/circulo-lineas-abajo.png"),
    url("/img/circulo-lineas-arriba.png"),
    url("/img/linea-larga.png"),
    url("/img/circulo-fondo.png");
  background-repeat: no-repeat;
  background-position: bottom left, top right, 95% 100%, 6% 50%;
  background-size: 8rem, 10rem, 7rem, 5rem;
  // Fondo imágenes
  &__title {
    max-width: 80%;
    margin: 3rem;
    align-self: flex-end;
    h2 {
      font-size: 2.5em;
      text-align: center;
      margin: 0;
      & span {
        font-size: 4rem;
        display: block;
        color: $yellow;
      }
    }
    & p {
      display: block;
      font-size: 1.2rem;
      font-family: $gilroy;
      max-width: 80%;
      margin: .5rem auto;
      text-align: center;
    }
  }
  &__message {
    margin: 3rem;
    align-self: flex-start;
    max-width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & p {
      display: block;
      margin: 0;
      font-size: 1.2rem;
      font-family: $gilroy;
    }
  }
  &__button {
    margin-top: .5rem;
    min-width: fit-content;
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    color: $black;
    background-color: $yellow;
    font-family: $gilroyBold;
    &:hover {
      background-color: $yellowHover
    }
  }

  &__contact {
    height: 100%;
    min-height: 25rem;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-success {
      &-icon {
        color: #60ca36;
        font-size: 10rem;
      }
      &-message {
        text-align: center;
        font-family: $gilroyBold;
        font-size: 1.2rem;
      }
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-error {
      color: #ff553f;
      font-size: .8rem;
      font-family: $gilroyBold;
      text-align: center;
      &--form {
        font-size: 1rem;
      }
    }
  }
  &__element {
    width: 100%;
    &--medium {
      width: 48%;
    }
  }
  &__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem .5rem;
    font-family: $gilroy;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: $darkBlue;
    color: $white;
    border: $white 1px solid;
    margin: .3rem 0;
    font-size: 1rem;
    &::placeholder {
      color: $white;
    }
    &-text {
      display: none;
    }
  }

  // Media querys
  @media screen and (max-width: $breakpoint-desktop) {
    padding: 3rem 0;
    justify-content: center;
    &__message {
        max-width: 50%;
        & p{
          font-size: 1.2rem;
        }
    }
    &__title {
      h2 {
          font-size: 2em;
        & span {
            font-size: 3.4rem;
        }
      }
    }
  }
  @media screen and (max-width: $breakpoint-laptop) {
    &__message, &__title {
      align-self: initial;
      margin: 2rem;
    }
  }
  @media screen and (max-width: $breakpoint-tablet) {
    &__message {
        max-width: 80%;
    }
    &__contact {
      max-width: 80%;
    }
    &__element {
      &--medium {
        width: 100%;
      }
    }
    &__button {
        min-width: 90%;
        box-sizing: border-box;
    }
  }
  @media screen and (max-width: $breakpoint-mobile) {
    &__title {
      max-width: 80%;
    }
  }
}