@import "./common/common.scss";

// Commons
@import "components/common/button.scss";
@import "components/slider.scss";
@import "./components/section.scss";

// Components

// Landing
@import "components/header.scss";
@import "components/presentation.scss";
@import "components/about-us.scss";
@import "components/callToAction.scss";
@import "components/soluciones.scss";
@import "components/portfolio.scss";
@import "components/customer-stories.scss";
@import "components/schedule-meeting.scss";
@import "components/footer.scss";

// Portafolio
@import "components/portfolio/items.scss";
@import "components/portfolio/head.scss";
@import "./components/modal.scss";

// Blog
@import "components/blog/entries-list.scss";
@import "components/blog/post.scss";

// Animations
@import "components/mapeo-circle.scss";
@import "components/appear.scss";
@import "components/spinner.scss";

// Librerias externas
@import "./lib/calendly.scss";

body {
  background-color: #ffffff;
  color: $darkBlack;
  font-family: $grotesk;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
  position: absolute;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  &:focus {
    outline: none;
  }
}

.target {
  position: absolute;
  height: $headerHeight;
  width: 100%;
  top: -$headerHeight;
  margin: 0;
  z-index: -1;
  @media screen and (max-width: $breakpoint-mobile) {
    top: 0;
  }
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $darkBlue;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

.demo-bg {
  background-color: $darkBlue;
  color: $white;
}

.demo-bg-2 {
  background-color: $skyblue;
  color: $white
}

.image-loading {
  border-radius: 50%;
  background-size: 10%;
  background-image: url("/img/image-loader.gif");
  background-repeat: no-repeat;
  background-position: center;
}